body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  /* Цвет фона страницы */
}

.colorButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  background-color: #007bff;
  /* Цвет кнопки по умолчанию */
  transition: background-color 0.3s ease;
}

.colorButton:hover {
  background-color: #0056b3;
  /* Цвет кнопки при наведении */
}